*{
    margin: 0;
    padding: 0;
}
#camera, #camera-view, #camera-device, #camera-display{
    position: fixed;
    object-fit: contain;
    height  : 100%;
    width   : 100%;
}
#take-photo-button{
    position: fixed;
    bottom  : 30px;
    width   : 100%;
}
#front-camera-button{
    position: fixed;
    bottom  : 60px;
    width   : 100%;
}
.photo-taken{
    height: 100px !important;
    width : 100px !important;
}